{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "unused-imports"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": 1,
        "quotes": [1, "single", { "avoidEscape": true }],
        "no-useless-return": 1,
        "no-unused-vars": 1,
        "unused-imports/no-unused-imports": "error",
        "no-duplicate-imports": 1,
        "no-unreachable": 1,
        "no-unreachable-loop": 1,
        "no-use-before-define": 1,
        "no-inline-comments": 1,
        "max-params": ["error", 3],
        "sort-imports": ["warn", {
            "ignoreCase": false,
            "ignoreDeclarationSort": true,
            "ignoreMemberSort": false,
            "memberSyntaxSortOrder": ["none", "all", "single", "multiple"],
            "allowSeparatedGroups": false
        }]
    }
}